*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.warp{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #ccc;
}
.header{
    width:100%;
    height:70px;
    img{
        width: 100%;
    }
}
.center{
    width: 100%;
    height: 3000px;
    overflow: auto;
    .images{
        width: 100%;
    }
    .tu{
        width: 100%;
        background:#fff;
        display: flex;
        justify-content: space-around;
        margin-top:20px;
    }
    .bottom{
        width: 100%;
        height: 100px;
        margin-top:10px;
        background: #fff;
    }
}
.footer{
    width: 100%;
    height: 100px;
    background:#fff;
    display: flex;
    justify-content: space-around;
}